.btn {
  background-color: hsl(213, 96%, 18%);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  cursor: pointer;
  height: 48px;
  width: 122px;
}

.btn:focus {
  outline: none !important;
}
.btn:hover {
  background-color: hsl(213, 71%, 32%);
}
