.option {
  border: 1.5px solid var(--light-gray);
  border-radius: 8px;
  cursor: pointer;
  min-height: 160px;
  width: 135px;
}

.option:nth-child(2) {
  margin: 0 20px;
}

.option:hover {
  border-color: var(--violet);
}

.option img {
  margin: 20px 0 0 15px;
}

.option h2 {
  margin: 40px 0 0 15px;
  color: var(--marine-blue);
  font-size: 15px;
}

.descr {
  margin: 7px 0 0 15px;
  font-size: 14px;
  font-weight: 500;
  color: var(--cool-gray);
}

.optionalDescr {
  font-size: 12px;
  color: var(--marine-blue);
  margin: 7px 0 15px 15px;
}

.active {
  background-color: var(--alabaster);
  border-color: var(--violet);
}

@media screen and (max-width: 768px) {
  .option {
    display: flex;
    width: 100%;
    min-height: 75px;
    margin: 12px 0;
  }
  .option:nth-child(2) {
    margin: 6px 0;
  }

  .option img,
  .option h2 {
    margin-top: 15px;
  }
}
