.wrapper {
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 15px;
  width: 100%;
}

.backBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--cool-gray);
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

.backBtn:focus {
  outline: none !important;
}

.backBtn:hover {
  color: var(--marine-blue);
}

@media screen and (max-width: 768px) {
  .wrapper {
    bottom: 15px;
    left: 0;
    padding: 0 40px;
    width: 100%;
    text-align: right;
  }
}
