.heading {
  color: var(--marine-blue);
  margin-top: 45px;
}

.descr {
  color: hsl(231, 11%, 63%);
  margin: 15px 0 40px;
}

@media screen and (max-width:768px) {
  .heading {
    margin-top: 35px;
  }

  .descr {
    margin-bottom: 23px;
  }
}

@media screen and (max-width: 425px) {
  .heading {
    font-size: 24px;
    margin-top: 33px;
  }

  .descr {
    margin-top: 11px;
    line-height: 23px;
  }
}