.container {
  padding-top: 165px;
  margin: 0 auto;
  width: 50%;
}

.container h1 {
  margin-bottom: 25px;
}

.container p {
  display: inline;
  line-height: 26px;
}

.container a {
  color: var(--cool-gray);
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding-top: 80px;
  }
  .container img {
    width: 55px;
  }

  .container h1 {
    margin-top: 17px;
    margin-bottom: 10px;
  }

  .container p {
    
  }
}