.container {
  padding-top: 165px;
  margin: 0 auto;
  width: 50%;
}

.container h1 {
  margin-bottom: 25px;
}

.container p {
  display: inline;
  line-height: 25px;
}

.container a {
  color: var(--cool-gray);
}