:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purpish-blue: hsl(243, 100%, 62%);
  --violet: hsl(243, 29%, 48%);
  --light-violet: hsl(244, 58%, 65%);
  --pastel-blue: hsl(228, 100%, 84%);
  --ligth-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 75%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  position: relative;
}
